.vscode/settings.json
botconfig.json
__pycache__
__pycache__/
poetry.lock
pyproject.toml
label.yml
.replit
discord.log
creds.json
commandlog.txt
*.db
QuestionSuggestQ.txt
DailyQuestions.txt
*.txt
.env
.DS_Store
*.png
*.jpg
*.gif